#ContasAPagar {
    margin-left: 55px;
}

.ButtonEditContasAPagar {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    border: solid black 1px;
}

.ButtonEditContasAPagar:hover {
    color: var(--button-color);
    border: solid var(--button-color) 1px;
    transition: .3s;
}

.buttonPagarContasPagar {
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    border: solid var(--text-color) 1px;
    width: 100%;
    font-weight: bold;
    background-color: #00ff0042;
}