#Homescreen {
  margin-left: 55px;
}

.NotificationHomeScreen {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.HeaderHomeDeashBoard {
  display: flex;
  justify-content: space-between;
}

.ButtonHeaderDeashBoard {
  display: flex;
  flex-direction: column;
}

.bttButtonHeaderDeashBoard {
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 50px;
  width: 180px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  transition: all 250ms;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bttButtonHeaderDeashBoard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0295ff;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.bttButtonHeaderDeashBoard:hover {
  color: #e8e8e8;
}

.bttButtonHeaderDeashBoard:hover::before {
  width: 100%;
}

.LoyautCardMétricasBox {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardMétricasBox {
  width: 48%;
  height: 140px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.linha {
  height: 1px;
  width: 90%;
  background-color: black;
  margin: auto;
}

.displayFlex {
  display: flex;
  justify-content: space-around;
}

.green {
  background-color: #31c331;
}

.red {
  background-color: #de2727;
}

.orange {
  background-color: #ffb11f;
}

.cardMétricasBox > h1 {
  font-size: 33px;
}

.cardMétricasBox > h2,
.cardMétricasBox > h1 {
  text-align: center;
}

.MainHomeDeashBoard {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.NotficationHome {
  background-color: black;
  color: white;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
}

.MainHomeDeashBoard > article {
  background-color: #eee;
  width: 45%;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.button:hover {
  background-color: rgb(56, 56, 56);
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}
