#NOVAVENDA {
  margin-left: 55px;
}

#NOVAVENDA:focus {
  outline: none;
}

.statusVenda {
  position: absolute;
  bottom: 10px;
  left: 450px;
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  font-size: 20px;
}

.SelectStatusVenda {
  font-size: 20px;
}

.SelectNovaVenda {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 530px;
  margin-left: 30px;
}

.NovaVendaLabel {
  display: flex;
  align-items: center;
}

.NovaVendaLabel input {
  font-size: 15px;
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.NovaVendaLabel > label {
  display: flex;
}

.NovaVendaLabel > label > p {
  font-size: 20px;
}

#checkBoxNovaVenda {
  width: 20px;
}

.NovanVendaStrong {
  font-size: 19px;
  margin-right: 8px;
}

.DivisãoNovaVenda {
  display: flex;
  justify-content: space-around;
  width: 640px;
}

.PreçoNovaVenda {
  position: absolute;
  bottom: 10px;
  width: 330px;
}

.MainNovaVenda {
  display: flex;
  justify-content: space-between;
}

.ProdutosNovaVenda {
  height: 85vh;
  width: 150%;
  padding: 5px;
  border-radius: 10px;
  margin-left: 15px;
  overflow-y: scroll; /* Adicionando barra de rolagem vertical */
}

.FaturarNovaVenda {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 30px;
  width: 200px;
  height: 30px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
}

#buttonOkPontoDeVenda {
  width: 100%;
  background-color: var(--button-color);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.buttonDeleteArrayVenda {
  cursor: pointer;
  color: red;
  background: none;
}

.TablePontoDeVenda {
  width: 100%;
}

.TablePontoDeVenda > tbody > tr > td {
  border-bottom: solid 1px #00000073;
  margin-bottom: 10px;
  padding: 3px;
}

.TablePontoDeVenda > thead > tr > th {
  margin-bottom: 10px;
  text-align: left;
}
