#NotaFiscalDeEntrada {
  margin-left: 55px;
}

#chaveNF {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid var(--text-color) 2px;
  display: flex;
  justify-content: space-around;
}

#chaveNF div {
  display: flex;
  flex-direction: column;
}

#chaveNF input {
  padding: 5px;
}

#chaveNF span {
  color: var(--text-color);
}

#chaveNF button {
  width: 300px;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 10px;
  cursor: pointer;
}


.tabela-container {
  margin-top: 20px;
  height: 350px;
  overflow-y: auto;
}

#tabelaNotaDeEntrada > tbody > tr:hover {
  border: solid black 1px;
  cursor: pointer;
}

#divButtonsNotaFiscal {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#divButtonsNotaFiscal button {
  font-size: 15px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  cursor: pointer;
}

.linhaSelecionada {
  background-color: #0000001c;
  border: solid black 1px;
}
