#SaldoInicial {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  padding: 10px;

  background: white; /* Cor com transparência */
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra */
  backdrop-filter: blur(10px); /* Desfoque */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Desfoque para navegadores Webkit (Safari, Chrome, etc.) */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Borda */
}

#formSaldoInicialFluxoCaixa {
  display: flex;
  flex-direction: column;
}

#formSaldoInicialFluxoCaixa label {
  display: flex;
  flex-direction: column;
}

#formSaldoInicialFluxoCaixa input {
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  border: solid black 1px;
}

#formSaldoInicialFluxoCaixa button {
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: #0295ff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}