#WindowControls {
  display: flex;
  width: 100vw;
  justify-content: end;
  background-color: #454545;
}

#buttonMinimizeElectron {
  font-weight: bold;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
}

#buttonMinimizeElectron:hover {
  background-color: gray;
  transition: .3s;
}

#buttonCloseElectron {
  font-weight: bold;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
}

#buttonCloseElectron:hover {
  background-color: red;
  transition: .3s;
}