#PRODUTOS {
  margin-left: 55px;
}

#HeaderProduto {
  display: flex;
  justify-content: space-between;
}

.AddProduto {
  background-color: var(--button-color);
  border: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.ArticleProduto {
  margin-bottom: 25px;
  margin-top: 20px;
}

.formSearchProdutos {
  display: flex;
  align-items: center;
}

.Search {
  z-index: 1;
  background-color: none;
  position: relative;
  border: none;
  font-size: 17px;
  cursor: pointer;
  width: 38px;
  height: 36px;
  border-radius: 6px;
  background-color: #ffb732;
  margin-left: 3px;
  color: white;
}

.SearchFilter {
  z-index: 1;
  background-color: none;
  position: relative;
  border: none;
  font-size: 17px;
  cursor: pointer;
  width: 38px;
  height: 36px;
  border-radius: 6px;
  background-color: #ffb732;
  margin-left: 3px;
  color: white;
}

.InputProduto {
  margin-left: 10px;
  border-radius: 6px;
  padding: 8px;
  width: 260px;
  border: 2px solid #666666ee;
  font-size: 15px;
}

.tableProdutos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.JanelaPopUp {
  position: absolute;
  top: 50%;
}

.filtroSelectContainer {
  position: absolute;
  top: 0; /* abaixo do botão */
  right: 700px;  /* encosta na direita do botão */
  margin-top: 5px;
  width: 200px;
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

.formSearchProdutos {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

