#AutomacaoWhats {
  background-color: var(--div-color);
  padding: 10px;
  border-radius: 10px;
  min-height: 500px;
}

#divSpanConectado {
  display: flex;
  align-items: center;
}

#spanConectadoOrNo {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

#divStatusRobo {
  position: absolute;
  right: 20px;
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#divStatusRobo p {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
