#DetalhesClienteINFORMAÇÃO {
  display: flex;
  margin-top: 20px;
}

.DivisãoDetalhesCliente {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alinhar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.DetalhesClientesP {
  margin: 5px;
  font-size: 17px;
}

#DetalhesClienteINFORMAÇÃO input {
  margin: 5px;
  font-size: 17px;
  width: 100%;
}

.alinhar label {
  display: flex;
  width: 500px;
}

#DetalhesClienteINFORMAÇÃO select {
  margin: 5px;
  font-size: 17px;
  width: 100%;
}

.ImageUserDetalhesCliente {
  width: 200px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  margin-bottom: 10px;
}

.bttDeleteClienteInfo {
  font-size: 17px;
  padding: 5px;
  border-radius: 20px;
  color: #ff5b5b;
  border: 1px solid #ff5b5b;
  cursor: pointer;
  width: 200px;
  background: none;
  margin-top: 20px;
}

#areaButtonInfoClientes {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.bttDeleteClienteInfo:hover {
  border: 1px solid white;
  color: white;
  background-color: #ff0000;
  transition: 0.5s;
}

#divIconeGeralCliente {
  border: solid var(--text-color) 1.5px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttEditarClienteInfo {
  font-size: 17px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  width: 200px;
  background: none;
  margin-top: 20px;
}

.bttEditarClienteInfo:hover {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: 0.5s;
}

#DetalhesClienteINFORMAÇÃO input , select {
  border-radius: 5px;
  padding: 3px;
  border: solid black 1px;
}
