#PagarConta {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  width: 500px;

  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra */
  backdrop-filter: blur(10px); /* Desfoque */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Desfoque para navegadores Webkit (Safari, Chrome, etc.) */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Borda */
}

.labelPagarConta {
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
}

.ReferenciaPagarConta {
  color: #333 ;
}

.labelPagarConta input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border: #333 solid 1px;
}

#divButtonPagarConta {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#divButtonPagarConta #buttonPagar {
  background-color: var(--button-color);
  color: white;
}

#divButtonPagarConta button {
  padding: 10px;
  border-radius: 5px;
  width: 45%;
  font-weight: bold;
}
