#DetahesDoFuncionario {
  margin-left: 55px;
}

#HeaderDetahesDoFuncionario {
  display: flex;
  position: relative;
}

.AreaAbas {
  display: flex;
  margin: 10px;
  position: relative;
  align-items: center;
}

.bttDetalhesDoFuncionario {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease;
  font-weight: 300;
  color: black;
  position: relative;
}

.bttDetalhesDoFuncionario:hover {
  font-weight: 600;
  color: black;
}

.bttDetalhesDoFuncionario.ativo {
  font-weight: bold;
}

.bttDetalhesDoFuncionario.ativo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%; /* Começo da linha */
  width: 60%; /* Largura da linha */
  height: 3px;
  background-color: #0295ff;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.bttDetalhesDoFuncionario:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 3px;
  background-color: #0295ff;
  transition: all 0.3s ease;
  border-radius: 5px;
}

/* Linha se for ativo + hover */
.bttDetalhesDoFuncionario.ativo:hover::after {
  background-color: #0295ff; /* mantém preto se for ativo */
}
