#cabecalhoNotaGrande {
  margin: 9px;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 70%;
  align-items: center;
}

#cabecalhoNotaGrande2 {
  display: flex;
  border-top: 2px black dashed;
  justify-content: space-around;
  margin: 50px auto;
  width: 100%;
  align-items: center;
}

.BoxInfo {
  border: 1px solid black;
  padding: 3px;
}
.LogoLider {
  width: 70px;
}

.PreFooter {
  display: flex;
  justify-content: space-around;
}
.PtNotinha {
  height: 49vh;
}
.dotted {
  border-bottom: 1px dotted black;
}
footer {
  border: 1px solid black;
  height: 60px;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.footer > p {
  width: 350px;
  text-align: center;
  height: 20px;
  border-top: 1px solid black;
}
footer > .div {
  height: 40px;
}
