#DetalhesDaVenda {
  margin-left: 55px;
}

#DetalhesDaVendaDisplay {
  display: flex;
  justify-content: space-between;
}

#DetalhesDaVendaDisplay1 {
  width: 65%;
}

#DetalhesDaVendaDisplay2 {
  border-left: solid var(--text-color) 1px;
  padding: 10px;
  width: 30%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#DetalhesDaVendaDisplay2Pt2 > p {
  margin: 5px;
  font-size: 18px;
}

#DetalhesDaVendaDisplay2Pt1 {
  border-bottom: dashed var(--text-color) 1px;
  margin-bottom: 20px;
}

#DetalhesDaVendaDisplay2Pt3 {
  border-top: dashed var(--text-color) 1px;
  margin-bottom: 20px;
}

.ButãoDetalhesDaVenda {
  width: 45%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  margin: 5px;
}

.ButãoEditarDetalhesDaVenda {
  background-color: orange;
}

.ButãoNotasDetalhesDaVenda {
  background-color: var(--button-color);
}

#CancelarVendaDetalhesDaVenda {
  color: red;
  text-decoration: underline red 1px;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
}

#DivisãoClienteDetalhesDaVenda {
  background-color: var(--div-color);
  border-radius: 20px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#ImgClienteDetalhesDaVenda {
  background-color: white;
  width: 120px;
  height: 120px;
  border: solid var(--text-color) 1px;
  border-radius: 50%;
  display: flex;
}

#infoTempoDetalhesdaVenda {
  color: var(--text-color);
}

#EscolherNotas {
  height: 100px;
  transition: 0.5s;
}

.itensNotas {
  font-size: 14px;
}

.itensNotas:hover {
  text-decoration: underline solid white;
}

#areaButtonsDetalhesVedna {
  display: flex;
  justify-content: space-between;
}

#areaButtonsEscolherNotas {
  display: flex;
  flex-direction: column;
}

.EsolhaDeNotas {
  cursor: pointer;
  background-color: var(--button-color);
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

#DetalhesDaVendaPage,
#DetalhesDaVendaPage * {
  visibility: hidden !important;
}

@media print {
  body * {
  visibility: hidden !important;
}

#DetalhesDaVendaPage,
#DetalhesDaVendaPage * {
  visibility: visible !important;
}

#DetalhesDaVendaPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
}

#EnviarDetalhesVenda {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--button-color);
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}