.FilterDateVendas {
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  padding: 3px;
}

.FilterICONDateVendas {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px var(--text-color);
  background: none;
  cursor: pointer;
}

.Table {
  border: #363636 solid 2px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.Table thead {
  background-color: var(--div-color);
}

.Table tr td {
  border-bottom: 1px solid var(--text-color);
}

.Table .ativo {
  background-color: #0296ff29;
}

.aTdTabelaHistoricoVendas {
  color: var(--text-color);
}

.DetalhesHistoricoVendas {
  width: 90%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
}

.DetalhesHistoricoVendas:hover {
  background-color: var(--button-color);
  transition: .3s;
}

.buttonExcluirItensSelecionadosAtivado {
  width: 30px;
  height: 30px;
  border: solid red 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  cursor: pointer;
}

.buttonExcluirItensSelecionadosAtivado:hover {
  color: white;
  background-color: red;
  transition: .3s;
}

.buttonExcluirItensSelecionadosDesativado {
  width: 30px;
  height: 30px;
  border: solid #ff5353 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5353;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  cursor: not-allowed;
}

#AreaFIltroHistoricoVendas {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#filterHistoricoVendas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 8px;
}

.paginacao button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  color: #4285f4;
  border: 2px solid #4285f4;
  background: none;
  box-sizing: border-box;
}

.paginacao button:hover {
  border: none;
  color: #ffffff;
  background-color: #4285f4;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.paginacao .paginaAtiva {
  border: none;
  color: #ffffff;
  background-color: #4285f4;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
