.FilterDateVendas {
  font-size: 15px;
  height: 30px;
  margin-bottom: 20px;
}

.FilterICONDateVendas {
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #00000000;
  cursor: pointer;
}

.Table {
  border: #363636 solid 2px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.Table thead {
  background-color: var(--div-color);
}

.Table tr td {
  border-bottom: 1px solid black;
}

.Table .ativo {
  background-color: #0296ff29;
}

.aTdTabelaHistoricoVendas {
  color: var(--text-color);
}

.DetalhesHistoricoVendas {
  width: 70%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
}

.DetalhesHistoricoVendas:hover {
  background-color: var(--button-color);
  transition: .3s;
}

.buttonExcluirItensSelecionadosAtivado {
  width: 30px;
  height: 30px;
  border: solid red 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  cursor: pointer;
}

.buttonExcluirItensSelecionadosAtivado:hover {
  color: white;
  background-color: red;
  transition: .3s;
}

.buttonExcluirItensSelecionadosDesativado {
  width: 30px;
  height: 30px;
  border: solid #ff5353 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5353;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  cursor: not-allowed;
}

#AreaFIltroHistoricoVendas {
  display: flex;
  justify-content: space-between;
  width: 90%;
}