#PlanosEBoletos {
  margin-left: 55px;
}

#EditarDadosPlanosEBoletos {
  font-weight: bold;
  color: var(--button-color);
  text-decoration: none;
  
}

#BlocoUmDetalhesPagamento {
  margin-top: 20px;
  border: solid var(--text-color) 1px;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
}

#areaPlanosEPagamento {
  display: flex;
  justify-content: space-between;
}

#BlocoUmDetalhesPagamento span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--text-color);
}

#cardDadosDoEstabelecimentoPlanosEBoletos {
  margin-top: 20px;
  border: solid var(--text-color) 1px;
  margin-right: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 580px;
}

#ButtonDowloadBoleto {
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  width: 40%;
  cursor: pointer;
}

#areaStatusPagamento strong {
  border: solid #004f00 1px;
  color: #6ad16a;
  background-color: #00800061;
  border-radius: 20px;
  padding: 5px;
  width: 40%;
  text-align: center;
  font-size: 12px;
}

#areaStatusPagamento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#mudarPlanoPlanosBoletos {
  color:  var(--button-color);
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}