#PlanosEBoletos {
  margin-left: 55px;
}

#BlocoUmDetalhesPagamento {
  margin-top: 20px;
  border: solid #00000099 1px;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
}

#areaPlanosEPagamento {
  display: flex;
  justify-content: space-between;
}

#BlocoUmDetalhesPagamento span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #00000099;
}

#cardDadosDoEstabelecimentoPlanosEBoletos {
  margin-top: 20px;
  border: solid #00000099 1px;
  margin-right: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 580px;
}
