#FunçãoNãoDisponivel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  background-color: #0000002d;
}

#divCentralFunçãoNãoDisponivel {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  background-color: #ffffffac;
  padding: 10px;
  border-radius: 10px;
}

#ButtonAlterarPlano {
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--buton-color);
  color: white;
}
