#EnviarOrçamento {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 500px;
  height: 500px;
  z-index: 2;
  transform: translate(50%, -50%);
  background: rgba(118, 113, 113, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

#SelectEnivarEmail {
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    border: solid black 1px;
    margin-bottom: 20px;
}

#FormEnivarEmail {
    border: solid black 1px;
    background-color: #ffffffae;
    padding: 10px;
}

#FormEnivarEmail label {
    display: flex;
    flex-direction: column;
}

#FormEnivarEmail label input {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
}

#FormEnivarEmail div {
    display: flex;
    justify-content: space-around;
}

#FormEnivarEmail button {
    width: 40%;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

#FormEnivarWhatsApp {
    border: solid black 1px;
    background-color: #ffffffae;
    padding: 10px;
}

#FormEnivarWhatsApp label {
    display: flex;
    flex-direction: column;
}

#FormEnivarWhatsApp label input {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
}

#FormEnivarWhatsApp div {
    display: flex;
    justify-content: space-around;
}

#FormEnivarWhatsApp button {
    width: 40%;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}