#ConfiguraçõesGerais {
  background-color: var(--div-color);
  padding: 10px;
  border-radius: 10px;
}

#MudarCredenciais {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: var(--button-color);
}

#LogoDaEmpresaConfiguraçõesGerais {
  width: 290px;
  height: 290px;
  background-color: var(--div-color);
  border-radius: 50%;
  border: solid var(--text-color) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
}

#mainConfiguraçõesGerais {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#formConfiguraçõesGerais {
  width: 400px;
}

#formConfiguraçõesGerais input {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
  border: solid var(--text-color) 1px;
  border-radius: 10px;
}

#formConfiguraçõesGerais button {
  margin-top: 20px;
  background-color: var(--button-color);
  color: white;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#formConfiguraçõesGerais button:disabled {
  background-color: var(--button-color);
  cursor: not-allowed;
}
