#Relatorios {
  margin-left: 55px;
}

#menuRelatorios {
  max-height: 90vh; /* ou qualquer altura que faça sentido no seu layout */
  overflow-y: auto;
  width: 250px;
  padding-right: 8px; /* evita que o conteúdo fique colado à barra */
  border-left: 2px solid #eee; /* opcional: só para estilo */
}

.divMenuRelatorios {
  margin-bottom: 10px;
}

.divMenuRelatorios p {
  cursor: pointer;
}

.divMenuRelatorios p:hover {
  color: #0295ff;
  transition: 0.2s;
}

.ativoRelatorios {
  color: #0295ff;
}

#menuRelatorios::-webkit-scrollbar {
  width: 10px;               /* Largura da barra de rolagem */
}

#menuRelatorios::-webkit-scrollbar-track {
  background: #f1f1f1;      /* Cor do fundo da barra */
  border-radius: 8px;
}

#menuRelatorios::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Cor da parte que desliza */
  border-radius: 10px;         /* Borda arredondada */
  border: 2px solid #f1f1f1;  /* Espaço interno para suavizar */
  cursor: pointer;
}

#menuRelatorios::-webkit-scrollbar-thumb:hover {
  background-color: #00458f; /* Cor ao passar o mouse */
  transition: .5s;
}