#EscolherFormatoNF {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  padding: 10px;

  width: 600px;
  height: 300px;

  background: var(--div-color); /* Cor com transparência */
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra */
  backdrop-filter: blur(10px); /* Desfoque */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Desfoque para navegadores Webkit (Safari, Chrome, etc.) */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Borda */
}

.blockOptionEscolherNF {
  border: solid var(--text-color) 1px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.blockOptionEscolherNF:hover {
  border: solid var(--button-color) 1px;
  transition: 0.3s;
}

#AreaButtonEscolherNF {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#AreaButtonEscolherNF > button {
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

#buttonAreaButtonEscolherNFGerarNota {
  background-color: var(--button-color);
  color: white;
}

#buttonAreaButtonEscolherNFCancelar {
  border: solid var(--text-color) 1px;
}

.ativoEscolhaNF {
  color: var(--button-color);
}
